<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge>">
        <meta name="viewport" content="width=device-width, initial-scale">
        <link href="css/estilosInicioSesion.css" rel="stylesheet" type="text/css"/>
        <title>Inicio de Sesion</title>
    </head>
    <body>
        <div class="head">
            <nav>
                <a href="index.html"><img src="Images/logo.jpg"></a>
                <div class="nav-links" id="navLinks">
                    <ul>
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="turismo.html">TOUR</a></li>
                        <li><a href="paquetesTurismo.html">PAQUETES DE TURISMO</a></li>
                        <li><a href="infoPersonal.html">INFORMACIÓN</a></li>
                        <li><a href="inicioSesion.html">INICIO SESIÓN</a></li>
                        <li><a href="reservar.html">RESERVACIÓN</a></li>
                        <li><a href="chatAyuda.html">CHAT DE AYUDA</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="contenedor">
            <h2>Inicio de Sesión</h2>
            <form action="/usuarios/inicioSesion">
                <div class="usuario">
                    <input type="text" required="">
                    <label>Usuario</label>
                </div>
                <div class="usuario">
                    <input type="password" required="">
                    <label>Contraseña</label>
                </div>
                <a href="inicioSesion.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Iniciar
                </a>
                <a href="registro.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Registrar
                </a>
            </form>
        </div>
    </body>
</html>  

