*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;

}
.head{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links .btnLogin-popup{
    width: 125px;
    height: 50px;
    background: transparent;
    border: 2px solid burlywood;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 5s;
}
.nav-links .btnLogin-popup:hover{
    background: burlywood;
    color: #fff;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  130px;
    /*--webkit-text-stroke: 1px #fff;-*/
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}
.content-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #06361b;
    background-size: cover;
}
.content-header .text-box p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
.content-header .text-box img{
    width: 300px;
}
.hero-btn{
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid burlywood;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.hero-btn span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: burlywood;
    z-index: -1;
    transition: 0.5s;
}
.hero-btn:hover span{
    width: 100%;
}
/*--Conservacion y Sustentabilidad--*/
.content-sau{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #06361b;
}
.content-sau .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.content-sau .box-container .box{
    height: 355px;
    width: 455px;
    background: #415e4e;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    margin: 40px;
}
.content-sau .box-container p{
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
    color: #fff
}
h2{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #fff
}
/*--Sobre la empresa--*/
.content-about{
    height: 60vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #fff;

}
/*--Galeria--*/
.content-photos{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #06361b;
}
/*--Horario--*/
.content-service{
    height: 60vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.content-service .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.content-service .box-container .box2{
    height: 300px;
    width: 300px;
    background: #415e4e;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    margin: 40px;
}
.content-service .box-container p{
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
}
.content-service p{
    color: #fff;
}
h3{
    color: #fff;
}
/*--Footer--*/
#footer{
    padding: 100px 0 20px;
    background: #06361b;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-rigth{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-rigth{
    text-align: right;
}
.footer-row h2{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.title-text img{
    width: 140px;
    position: absolute;
    top: 10%;
    left: 10%;
}
/*--Login--*/
.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    background-filter: blur(20px);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    z-index: 9999
}

.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.contenedor .usuario{
    position: relative;
}

.contenedor .usuario input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contenedor .usuario label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contenedor .usuario input:focus ~ label,
.contenedor .usuario input:valid ~ label{
    top: -20px;
    left: 0;
    color: #197325;
    font-size: 12px;
}

.contenedor form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #197325;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.contenedor a:hover{
    background: #197325;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #197325,
        0 0 25px #197325,
        0 0 50px #197325,
        0 0 100px #197325;
}

.contenedor a span{
    position: absolute;
    display: block;
}

.contenedor a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#197325);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.contenedor a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#197325);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.contenedor a span:nth-child(3){
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#197325);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.contenedor a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(270deg, transparent,#197325);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
.recordar-contraseña{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.recordar-contraseña label input{
    accent-color: #050505;
    margin-right: 3px;
}
.recordar-contraseña a{
    color: #fff;
    text-decoration: none;
}
.recordar-contraseña a:hover{
   
}


