*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;

}
.head{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links .btnLogin-popup{
    width: 125px;
    height: 50px;
    background: transparent;
    border: 2px solid burlywood;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.nav-links .btnLogin-popup:hover{
    background: burlywood;
    color: #fff;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  130px;
    /*--webkit-text-stroke: 1px #fff;-*/
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}
.content-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: linear-gradient(#162c4f,#20485e);
    background-size: cover;
}
.content-header .text-box p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
.content-header .text-box img{
    width: 300px;
}
#feature{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(#162c4f,#20485e);
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 20px;
}
.feature-box p{
    padding: 0 100px;
    text-align: initial;
    color: #fff;
}
/*--Conservacion y Sustentabilidad--*/
.content-sau{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
   background: linear-gradient(#20485e,#162c4f);
}
.content-sau .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.content-sau .box-container .box{
    height: 355px;
    width: 455px;
    background: #6c95ad;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    margin: 40px;
}
.content-sau .box-container p{
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
    text-align: initial;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
    color: #fff
}
h2{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #fff
}
/*--Sobre la empresa--*/
.content-about{
    height: 60vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #fff;
}
.text-box{
    padding: 0 100px;
    text-align: initial;
    color: #fff;
}
/*--Galeria--*/
.content-photos{
    max-width: 1000px;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding: 30px 500px;
    background: linear-gradient(#162c4f,#20485e);
}

input[type=radio]{
    display: none;
}
.content-photo{
    max-width: 800px;
    width: 400%;
    max-height: 600px;
    height: 400px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
}
.card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.content-photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}
#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}
#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0%) scale(1);
    z-index: 1;
}

/*--Horario--*/
.content-service{
    height: 60vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.content-service .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.content-service .box-container .box2{
    height: 300px;
    width: 300px;
    background: #6c95ad;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    margin: 40px;
    
}
.content-service .box-container p{
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    text-align: center;
}
.content-service p{
    color: #fff;
}
h3{
    color: #fff;
}
/*--Footer--*/
#footer{
    padding: 100px 0 20px;
    background: linear-gradient(#20485e,#162c4f);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-rigth{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-rigth{
    text-align: right;
}
.footer-row h2{
    margin: 10px 0;
    font-size: 1.5em;
}
.footer-row p{
    line-height: 35px;
}
.title-text img{
    width: 140px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.title-text p{
   font-size: 30px;
   color: #afbfae;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links2{
    flex: 1;
    text-align: right;
    position: absolute;
    top: 10%;
    right: 5%;
}
.nav-links2 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links2 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links2 ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links2 ul li:hover::after{
    width: 100%;
}
.nav-links2 .btnLogin-popup{
    width: 125px;
    height: 50px;
    background: transparent;
    border: 2px solid burlywood;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.nav-links2 .btnLogin-popup:hover{
    background: burlywood;
    color: #fff;
}