<!DOCTYPE html>
<html>
    <head>
        <title>Ara Tours Costa Rica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="head">
            <nav>
                <a href="index.html"><img src="images/logo.jpg"></a>
                <div class="nav-links" id="navLinks">
                    <ul>
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="turismo.html">TOUR</a></li>
                        <li><a href="paquetesTurismo.html">PAQUETES DE TURISMO</a></li>
                        <li><a href="infoPersonal.html">INFORMACIÓN</a></li>
                        <li><a href="inicioSesion.html">INICIO SESIÓN</a></li>
                        <li><a href="reservar.html">RESERVACIÓN</a></li>
                        <li><a href="chatAyuda.html">CHAT DE AYUDA</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <header class="content-header" id="feature">
            <h1 class="title">Turismo en Costa Rica</h1>
            <div class="feature-box">
                <p>El turismo es el desplazamiento de las personas de manera temporal y voluntaria. 
                    Dentro de este concepto deben ser incluidos las relaciones humanas que conllevan y la prestación de servicios. 
                    Si bien los motivos del turismo son variados, suelen ser relacionados con el ocio. 
                    El turismo resulta muy importante desde el punto de vista social, cultural y económico.
                    Gracias al turismo aumenta notablemente la inversión en construcciones de infraestructura, y edificaciones, genera un mayor nivel de desarrollo en las áreas involucradas.
                    Los medios de trasporte suelen ser mejorados en cuanto a la calidad y la frecuencia, así como también aumentan las divisas, las tasas de desempleo disminuyen notablemente, generando un mayor bienestar en las comunidades afectadas. 
                    Desde el punto de vista cultural resulta muy útil ya que no solo permite la apreciación de cultura, tradiciones, geografía, artesanías  y otros aspectos de miembros ajenos a la comunidad, sino que también permite la valorización y la concientización dentro de la misma comunidad. 
                    Además en un medio de intercambio cultural, donde personas de diversos orígenes conviven y comparten ideas y costumbres.</p>
            </div>
            <div class="features-img">
                <img src="Images/turismo.jpg">
            </div>
        </header>
        <!--Sobre la empresa-->
        <section class="content-about">
            <div class="text-box">
                <br/>
                <br/>
                <h1>¿Quiénes Somos?</h1>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <p>Ara Tours se fundó en el 2018 por socios costarricenses. Garantizamos altos estándares de calidad de viajes sostenibles
                    para visitantes individuales, grupos pequeños. Ofrecemos nuestros servicios seis días de la semana. Nos destacamos por ser una
                    empresa sólida y estable, por brindar tiempos rápidos de respuestas, contamos con Seguro de responsabilidad civil y las pólizas 
                    respectivas, a la vex contamos con protocolos de higiene y salud para garantizar la seguridad sanitarios de nuestros clientes.
                    Ofrecemos documentación detallada de los paquetes de turismo por medio de la página, se da un manejo rápido y eficiente de posibles quejas
                    en el momento</p>
                <br/>
                <p>Nos enfocamos en el detalle y la excelencia, creando una atmósfera acogedora y un ambiente elegante, para disfrutar y explorar de forma sostenible.
                    La mayor parte de nuestra propiedad es una Reserva de Bosque Tropical Prode 400 hectáreas, junto con el circundante e impresionante Parque Nacional 
                    Piedras Blancas con 14,570 hectáreas de bosque tropical, protegen un estimado de 750 especies de árboles, 140 especies de mamíferos, 395 especies de aves 
                    (con varias especies endémica de la región), 117 especies de reptiles y anfibios, y casi 10,000 especies de insectos. 
                    Invitamos a nuestros clientes a participar  en prácticas ambientales de conservación y  sostenibilidad. 
                    Aún los actos más pequeños pueden contribuir a lograr un mejor futuro para nuestro planeta. </p>
                <br/>
                <p>Para nuestra empresa es muy importante la Conservación y Sustentabilidad de todo Costa Rica, para así poder asegurar nuestra propia supervivencia y binestar
                    así como del resto de los seres vivos, por esto se busca acercar a la sociedad con la naturaleza y ésta tenga presente que el país es un lugar
                    privelegiado por toda la riqueza natural y cultural que posee. Hablas de esto garantiza y asegura los servicios ambientales, mejor conocidos como
                    servicios ecosistémicos que nos brinda la naturaleza por medio de los cuales satisfacemos nuestras necesidades básicas.</p>
            </div>
        </section>
        <!--Conservacion y Sustentabilidad-->
        <section class="content-sau">
            <br/>
            <h1>Conservación y Sustentabilidad</h1>
            <br/>
            <br/>
            <div class="box-container">
                <div class="box">
                    <h2>Conservación</h2>
                    <br/>
                    <br/>
                    <br/>
                    <p>En Ara Tours Costa Rica, siempre estamos dispuestos a formar alianzas con quienes comparten nuestra visión y compromiso con la conservación y sostenibilidad.
                        En conjunto con el I.N.A y la Universidad de Costa Rica, actualmente llevamos a cabo proyectos de conservación y preservación en nuestros bosques tropical y océano.
                        Constantemente motivamos a nuestros miembros del equipo de trabajo y huéspedes a formar parte de estos proyectos voluntariamente.</p>
                </div>
                <div class="box">
                    <h2>Sustentabilidad</h2>
                    <br/>
                    <br/>
                    <br/>
                    <p>La protección de los bosque tropicales, playas y el océano es responsabilidad de toda la comunidad. 
                        Por consiguiente, nuestro compromiso y acciones respaldan la economía local y trabajamos en conjunto con las autoridades locales.
                        La mayoría de los miembros de nuestro equipo pertenecen a comunidades circundantes y se ofrecen a menudo como voluntarios para participar de actividades en pos de la preservación de los recursos naturales.</p>
                </div>
            </div>
        </section>
        <!--Galeria-->
        <section class="content-photos">
            <br/>
            <h2>Galería de Imágenes</h2>
            <div class="content-photo">
                <input type="radio" name="slider" id="item-1" checked>
                <input type="radio" name="slider" id="item-2">
                <input type="radio" name="slider" id="item-3">
                <div class="cards">
                    <label class="card" for="item-1" id="selector-1">
                        <img src="images/guariaMorada.jpg">
                    </label>
                    <label class="card" for="item-2" id="selector-2">
                        <img src="images/monoCaraBlanca.jpg">
                    </label>
                    <label class="card" for="item-3" id="selector-3">
                        <img src="images/arbolGuanacaste.jpg">
                    </label>
                </div>
            </div>
        </section>
        <!--Horario-->
        <section class="content-service ">
            <br/>
            <h1>Horario de Atención</h1>
            <p>Más de 5 años de actividad. Ofrece sus servicios en Costa Rica</p>
            <div class="box-container"> 
                <div class="box2">
                    <br/>
                    <h3>Abierto los días</h3>
                    <br/>
                    <br/>
                    <p>martes -> 8:00 - 17:00</p>
                    <p>miércoler -> 8:00 - 17:00</p>
                    <p>jueves -> 8:00 - 17:00</p>
                    <p>viernes -> 8:00 - 17:00</p>
                    <p>sábado -> 8:00 - 17:00</p>
                    <p>domingo -> 8:00 - 17:00</p>
                </div>
                <div class="box2">
                    <br/>
                    <h3>Ubicación de la Empresa</h3>
                    <br/>
                    <br/>
                    <br/>
                    <p>Instituto Costarricense de TurismoOficinas Centrales  
                        La Uruca, costado este del Puente Juan Pablo IIP.O. Box</p>
                    <p>Aeropuerto Internacional Daniel Oduber</p>
                </div>
                <div class="box2">
                    <br/>
                    <h3>Números de Teléfono</h3>
                    <br/>
                    <br/>
                    <p>777-1000</p>
                    <p>+506 2299-5800</p>
                    <p>+506 2668-0095</p>
                    <p>Emergencias 9-1-1</p>
                </div>
            </div>
        </section>  
        <!-- Footer -->
        <section id="footer">
            <nav>
                <div class="nav-links2" id="navLinks2">
                    <ul>
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="turismo.html">TOUR</a></li>
                        <li><a href="paquetesTurismo.html">PAQUETES DE TURISMO</a></li>
                        <li><a href="infoPersonal.html">INFORMACIÓN</a></li>
                        <li><a href="inicioSesion.html">INICIO SESIÓN</a></li>
                        <li><a href="reservar.html">RESERVACIÓN</a></li>
                        <li><a href="chatAyuda.html">CHAT DE AYUDA</a></li>
                    </ul>
                </div>
            </nav>
            <div class="title-text">
                <p>CONTACTO</p>
                <h2>Ara Tours Costa Rica</h2>
                <a href="index.html"><img src="Images/logo.jpg"></a>
            </div>
            <div class="footer-row">
                <div class="footer-left">
                    <h2 style="text-align: left">Turísmo en Costa Rica</h2>
                    <p style="text-align: left">Instituto Costarricense de TurismoOficinas Centrales  
                        La Uruca, costado este del Puente Juan Pablo IIP.O. Box</p>
                    <p style="text-align: left">☎ Tel: 2234-0000  +506 2299-5800</p>
                    <p style="text-align: left">✉ ️Correo Electrónico: turismoencostarica@turismocr.com</p>
                </div>
                <div class="footer-rigth">
                    <h2 style="text-align: right">Redes Sociales</h2>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Twitter</p>
                </div>
            </div>
        </section>
    </body>
</html>
